body {
	margin: 0;
	background-color: red;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.candidateSelect {
	font-size: 1.1em;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.candidateSelect label input {
	margin-right: 2px;
}

input[type="radio"]:checked+label { 
	background-color: purple;
	color: white;
	padding: 2px;
	font-weight: bold; 
}

.displayNone {
	display: none;
}

.displayBlock {
	display: block;
}

.floatbox {
	width:400px;
	max-height:20vh;
	background-color: white;
	color:black;
	padding:5px;
	overflow-y: scroll;
	position: absolute;
	right:20px;
	top:20px;
	z-index: 9999;
}

.remove-padding {
	padding-left: 0 !important; 
	padding-right: 0 !important; 
	margin-left: 0 !important; 
	margin-right: 0 !important; 
}
